.container {
  display: flex;
  flex-direction: column;
  height: 150px;
  background-color: cyan;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: blue;
  /* margin-left: auto; */
  margin-top: auto;
}

.box3 {
  background-color: green;
}

.box4 {
  background-color: gray;
}
