h1 {
  /* Màu chữ */
  color: blueviolet;
  /* Kiểu chữ */
  font-style: italic;
  /* Font chữ */
  font-family: Arial, Helvetica, sans-serif;
  /* Viết hoa, viết thường */
  text-transform: capitalize;
  /* Căn giữa */
  text-align: center;
  /* Cỡ chữ */
  font-size: 20px;
}
