.container {
  display: flex;
}

/* content width width flex-basis min/max-width */

.box {
  /* width: 100px; */
  /* flex-basis: 200px;
  max-width: 100px; */

  /* Giãn */
  flex-grow: 0;
  /* Co lại */
  flex-shrink: 1;
  /* Theo trục main */
  flex-basis: 100px;
}

.box1 {
  background-color: cyan;
}

.box2 {
  background-color: red;
}

.box3 {
  background-color: blue;
}

.box4 {
  background-color: green;
}
